<div class="container">
    <form novalidate
        [formGroup]="myform">
        <div class="form-group"
        [ngClass]="{
         'has-danger': dropdownSelect.invalid && (dropdownSelect.dirty || dropdownSelect.touched),
         'has-success': dropdownSelect.valid && (dropdownSelect.dirty || dropdownSelect.touched)
    }">
    <label>Title</label>
      <select name="dropdown" id="dropdown" class="form-control" formControlName="dropdownSelect" required>
        <option *ngFor="let i of selectOptions" [ngValue]="i" >{{i}}</option>
      </select>
    
     <div class="form-control-feedback"
          *ngIf="dropdownSelect.errors && (dropdownSelect.dirty || dropdownSelect.touched)">
       <p *ngIf="dropdownSelect.errors.required">dropdownSelect is required</p>
     </div>
   </div>
    <fieldset formGroupName="name">
      <div class="form-group"
           [ngClass]="{
          'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
          'has-success': firstName.valid && (firstName.dirty || firstName.touched)
        }">
        <label>First Name</label>
        <input type="text"
               class="form-control"
               formControlName="firstName"
               required>
        <div class="form-control-feedback"
             *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
          <p *ngIf="firstName.errors.required">First Name is required</p>
        </div>
  
        <!--
          <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
          <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
        -->
      </div>
  
      <div class="form-group"
           [ngClass]="{
          'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
          'has-success': lastName.valid && (lastName.dirty || lastName.touched)
        }">
        <label>Last Name</label>
        <input type="text"
               class="form-control"
               formControlName="lastName"
               required>
        <div class="form-control-feedback"
             *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
          <p *ngIf="lastName.errors.required">Last Name is required</p>
        </div>
      </div>
    </fieldset>
  
  
    <div class="form-group"
         [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
     }">
      <label>Email</label>
      <input type="email"
             class="form-control"
             formControlName="email"
             required>
      <div class="form-control-feedback"
           *ngIf="email.errors && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required">Email is required</p>
        <p *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
      </div>
  
      <!--
        <pre>Valid? {{ myform.controls.email.valid }}</pre>
        <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
      -->
  
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': fax.invalid && (fax.dirty || fax.touched),
          'has-success': fax.valid && (fax.dirty || fax.touched)
     }">
      <label>fax</label>
      <input type="text"
             class="form-control"
             formControlName="fax"
             required>
      <div class="form-control-feedback"
           *ngIf="fax.errors && (fax.dirty || fax.touched)">
        <p *ngIf="fax.errors.required">fax is required</p>
        
      </div>
    </div>
  
    <div class="form-group"
         [ngClass]="{
          'has-danger': address.invalid && (address.dirty || address.touched),
          'has-success': address.valid && (address.dirty || address.touched)
     }">
      <label>Address</label>
      <input type="address"
             class="form-control"
             formControlName="address"
             required>
      <div class="form-control-feedback"
           *ngIf="address.errors && (address.dirty || address.touched)">
        <p *ngIf="address.errors.required">address is required</p>
      </div>
    </div>


    <div class="form-group"
         [ngClass]="{
          'has-danger': city.invalid && (city.dirty || city.touched),
          'has-success': city.valid && (city.dirty || city.touched)
     }">
      <label>city</label>
      <input type="text"
             class="form-control"
             formControlName="city"
             required>
      <div class="form-control-feedback"
           *ngIf="city.errors && (city.dirty || city.touched)">
        <p *ngIf="city.errors.required">city is required</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': state.invalid && (state.dirty || state.touched),
          'has-success': state.valid && (state.dirty || state.touched)
     }">
      <label>state</label>
      <input type="text"
             class="form-control"
             formControlName="state"
             required>
      <div class="form-control-feedback"
           *ngIf="state.errors && (state.dirty || state.touched)">
        <p *ngIf="state.errors.required">state is required</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': country.invalid && (country.dirty || country.touched),
          'has-success': country.valid && (country.dirty || country.touched)
     }">
      <label>country</label>
      <input type="text"
             class="form-control"
             formControlName="country"
             required>
      <div class="form-control-feedback"
           *ngIf="country.errors && (country.dirty || country.touched)">
        <p *ngIf="country.errors.required">country is required</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': postalCode.invalid && (postalCode.dirty || postalCode.touched),
          'has-success': postalCode.valid && (postalCode.dirty || postalCode.touched)
     }">
      <label>postalCode</label>
      <input type="tel"
             class="form-control"
             formControlName="postalCode"
             required>
      <div class="form-control-feedback"
           *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)">
        <p *ngIf="postalCode.errors.required">postalCode is required</p>
        <p *ngIf="postalCode.errors.minlength || postalCode.errors.maxlength">The length of the postal code should be 6</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': phone.invalid && (phone.dirty || phone.touched),
          'has-success': phone.valid && (phone.dirty || phone.touched)
     }">
      <label>phone</label>
      <input type="tel"
             class="form-control"
             formControlName="phone"
             required>
      <div class="form-control-feedback"
           *ngIf="phone.errors && (phone.dirty || phone.touched)">
        <p *ngIf="phone.errors.required">phone is required</p>
        <p *ngIf="phone.errors.minlength || phone.errors.maxlength">The length of the phone number should be 10 to 14</p>
      </div>
    </div>


    <div class="form-group"
         [ngClass]="{
          'has-danger': payment.invalid && (payment.dirty || payment.touched),
          'has-success': payment.valid && (payment.dirty || payment.touched)
     }">
      <label>payment</label>
      <input type="text"
             class="form-control"
             formControlName="payment"
             required>
      <div class="form-control-feedback"
           *ngIf="payment.errors && (payment.dirty || payment.touched)">
        <p *ngIf="payment.errors.required">payment is required</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{
          'has-danger': requirement.invalid && (requirement.dirty || requirement.touched),
          'has-success': requirement.valid && (requirement.dirty || requirement.touched)
     }">
      <label>requirement</label>
      <input type="text"
             class="form-control"
             formControlName="requirement"
             required>
      <div class="form-control-feedback"
           *ngIf="requirement.errors && (requirement.dirty || requirement.touched)">
        <p *ngIf="requirement.errors.required">requirement is required</p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onRegister()" [disabled]="myform.invalid" >Submit</button>
    <!--
      <pre>{{ password.errors | json }}</pre>
    -->
  
    
  
    <pre>{{myform.value | json}}</pre>
  </form>
  </div>